
h1 { 
   font-size: 18pt;
   font-family: calibri, arial, sans serif;
}

body {
  background-image: url("../nba2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dropbtn {
    background-color: #006bb7;
    color: white;
    padding: 16px;
    font-size: 16px;
    position:relative;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #006bb7;
}
#myInput {
    border-box: box-sizing;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    bottom: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    bottom: 100%;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

  path1 {
        stroke: steelblue;
        stroke-width: 3;
        fill: none;
    }
    
    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }

#the_VoronoiMap {
  fill: none;
  position: relative;
}


div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;			
    height: auto;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}


#the_scatterPlot {
  position: static;

  
}

#the_linechart {
  position: static;

  
}




.axis path,
.axis line {
    fill: stroke;
    stroke: #eee;
    shape-rendering: crispEdges;
}
 
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
 
.loading {
    font-family: sans-serif;
    font-size: 15px;
}
 
.circle {
    fill: #222;
}

.teams-cells {
  stroke: #000;
  stroke-opacity: 0.1;
  pointer-events: all;
}

path {
  stroke: #fff;
}


.remove-all-margin{
    margin:0 ! important;
}





