h1 { 
   font-size: 18pt;
   font-family: calibri, arial, sans serif;
}

body {
  background-color: #D3D3D3;
}


#the_VoronoiMap {
  position: static;
  margin: auto;
  width: 50%;
}


div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 100px;			
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}


#the_scatterPlot {
  position: static;
  margin: auto;
  width: 50%;
}


.axis path,
.axis line {
    fill: stroke;
    stroke: #eee;
    shape-rendering: crispEdges;
}
 
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
 
.loading {
    font-family: sans-serif;
    font-size: 15px;
}
 
.circle {
    fill: #222;
}

.teams-cells {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.1;
  pointer-events: all;
}

path {
  fill: #ccc;
  stroke: #fff;
}

#old {
	background-color: red;
}

#new {
	background-color: purple;
}